<button (click)="goBack()" class="button" title="Go Back">
  <i class="material-icons">arrow_back</i>
</button>

<h1>
  {{ 'Add a New Paradigm' | translate }}
</h1>


<div class="mat-card">

  <div class="mat-card-title">
    <mat-form-field>
      <input matInput placeholder="{{ 'Paradigm Name' | translate }}" [(ngModel)]="paradigmName">
    </mat-form-field>
  </div>
  <ul>
    <li *ngFor="let slot of slots; let index = index" class="root-item-container">
      <div class="root-item clickable-cursor">
        <a>{{ slot }}</a> 
      </div> 
      <!-- <div (click)="deleteWord(index)" class="root-delete">
        <a>
          <i class="material-icons">delete</i>
        </a>
      </div> -->
    </li>
    <li class="root-item-container">
      <mat-form-field>
        <input matInput placeholder="{{ 'Slot' | translate }}" [(ngModel)]="newSlot" (keydown)="onKeydown($event, newSlot)">
      </mat-form-field>
    </li>
  </ul>

  <div class="mat-card-actions">
    <button mat-button routerLink=".." (click)="addNewParadigm()">
      <i class="material-icons">send</i>
    </button>
  </div>

</div>