<h1>
  Add New Paradigm
</h1>


<div class="mat-card">

  <div class="mat-card-title">
    <mat-form-field>
      <input matInput placeholder="Paradigm Name">
    </mat-form-field>
  </div>
  <div class="mat-card-content">
    <div *ngFor="let slot of slots">
      <mat-form-field>
        <input matInput placeholder="Slot Name">
      </mat-form-field>

    </div>
    <button mat-button (click)="addNewSlot()">
      <i class="material-icons">add_circle_outline</i>
    </button>


  </div>

  <div class="mat-card-actions">
    <button mat-button routerLink="/language/{{ language_id }}">
      <i class="material-icons">send</i>
    </button>

  </div>

</div>