/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
  margin: 0;
  background: #F2F2F2;
  font-family: 'Ubuntu', sans-serif !important;
  height: 100vh;
}

input, textarea, select, button {
    font-family: 'Ubuntu', sans-serif !important;
}

a {
    cursor: pointer;
}

#container {
 display: grid;
 grid-template-columns: 70px auto;
 height: 100%;

 #content {
     padding: 30px 50px;

     ul {
         list-style-type: none;
         margin:0;padding:0;
     
         li {
             background: #fff;
             border-radius: 8px;
             padding: 20px;
             margin-bottom: 8px;
     
             a {
                 font-size: 1.5em;
                 text-decoration: none;
                 font-weight: bold;
                 color:#00A8FF;
             }
     
             ul {
                 margin-top: 20px;
                 
                 li {
                     padding:0;
     
                     a {
                         font-size: 1em;
                         font-weight: 300;
                     }
                 }
             }
         }
     }
 }
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

app-paradigm-add {
    .mat-form-field-infix {
        width: 480px;
    }
}

.button{
    border: none;
    color: white;
    background-color: #2D2E2E;
    border-radius: 50%;
    padding: 3pt;
    width: 30pt; 
}

#delete{
        color: red;
        justify-content: right;
    }  

.flex-container{
    display: flex;
    justify-content: space-between;
}

.top-item{
    flex: 50%;
}

button {
    &.button {
        cursor: pointer;
    }
}

.clickable-cursor{
    cursor: pointer;
}
