<div class="flex-container">
	<div class="top-item">
		<button (click)="goBack()" class="button" title="Go Back">
			<i class="material-icons">arrow_back</i>
		</button>
	</div>
	<div class="top-item">
		<button (click)="deleteParadigm()" class="button" title="Delete Paradigm" id="delete">
			<i class="material-icons">delete</i>
		</button>
	</div>
</div>

<h1>
  {{paradigm_name | titlecase}}
</h1>

<div class="column-container">
	<div class="root-column"> 
		<h2> {{ 'Root Words' | translate }} </h2> 
		<ul>
		  <li *ngFor="let root of roots$; let index = index" class="root-item-container">
		    <div (click)="onSelect(index)" class="root-item clickable-cursor">
		    	<a>{{ root }}</a> 
		    </div> 
		    <div (click)="deleteWord(index)" class="root-delete">
		    	<a>
		    		<i class="material-icons">delete</i>
		    	</a>
		    </div>
		  </li>
		  <li>
		  	<a (click)="onSelectNew()" class="clickable-cursor">
		  		<i class="material-icons">add_circle_outline</i> 
		  		{{ 'Add a New Root' | translate }}
		  	</a>
		  </li>
		</ul>
	</div>
	<div class="forms-column"> 
		<div class="column-container">
				<div class="word-column"><h2> {{ 'Word Forms' | translate }} </h2></div> 
				<div class="paradigm-column column-container">
					<h2 class = "two-column"> {{ 'Paradigm Forms' | translate }} </h2>
					<div class="right-align">
						<button (click)="onSave()" class="button" title="Save Word">
							<i class="material-icons">save</i>
						</button>
					</div>
				</div>
		</div>
		<div>
			<ul>
		  		<li *ngFor="let slot of slots$; let index = index" class="column-container">
		    		<input class ="input-text word-column" [(ngModel)]="forms$[slot]" placeholder="{{forms$[slot]}}"> 
		    		<a class="paradigm-column">{{ slot }}</a>
				</li>
			</ul>
		</div>
	</div>
</div>

