<button (click)="goBack()">Back</button>

<h1>
  {{paradigm_name | titlecase}}
</h1>

<div class="column-container">
	<div class="root-column"> 
		<h2> Root Words </h2> 
		<ul>
		  <li *ngFor="let root of roots$; let index = index" (click)="onSelect(index)">
		    <a>{{ root }}</a>
		  </li>
		  <li>
		  	<a (click)="onSelectNew()"><i class="material-icons">add_circle_outline</i> Add a New Root </a>
		  </li>
		</ul>
	</div>
	<div class="forms-column"> 
		<div class="column-container">
			<div class="two-column">
				<h2> Word Forms </h2>
				<ul>
		  		  <li *ngFor="let slot of slots$; let index = index">
		    		<input class ="input-text" [(ngModel)]="forms$[slot]" placeholder="{{forms$[slot]}}">
				  </li>
				</ul>
			</div>
			<div class="two-column">
				<h2> Paradigm Forms </h2>
				<ul>
		  		  <li *ngFor="let slot of slots$">
		    		<a>{{ slot }}</a>
				  </li>
				</ul>
			</div>
		</div>
	</div>
</div>


<button (click)="onSave()">Save Word</button>

