<div class="flex-container">
	<div class="top-item">
		<button (click)="goBack()" class="button" title="Go Back">
			<i class="material-icons">arrow_back</i>
		</button>
	</div>
	<div class="top-item">
		<button (click)="deleteLanguage()" class="button" id="delete" title="Delete Language">
			<i class="material-icons">delete</i>
		</button>
	</div>
	<div class="top-item">
		<button (click)="exportAffixFile()" class="button" id="export" title="Export Affix File">
			<i class="material-icons">arrow_downward</i>
		</button>
	</div>
	<div class="top-item">
		<a routerLink="/language/{{ language_name }}/unmunching" class="clickable-cursor">
			<i class="material-icons">insert_drive_file</i>
			Unmunch
		</a>
	</div>
	<div class="top-item">
		<div id="loading-icon" class="lds-ring">
			<div></div>
			<div></div>
			<div></div>
			<div></div>
		</div>
	</div>
</div>

<h1> {{language_name}}: {{ 'Paradigm List' | translate }} </h1>

<ul>
	<li *ngFor="let paradigm of paradigms$">
		<a routerLink="./paradigm-edit/{{paradigm}}">{{ paradigm }}</a>
	</li>
	<li>
		<a routerLink="./paradigm-add">
			<i class="material-icons">add_circle_outline</i>
			{{ 'Add a New Paradigm' | translate }}
		</a>
	</li>
</ul>
